.privacy {
  flex: 1;
  padding: 1em 60px;
  max-width: 1000px;
  margin: auto;
}

.privacy__content {
  padding: 1em;
  background-color: #f2f2f2;
  border: 1px solid #4f4f4f;
}

.privacy__heading {
  color: #4f4f4f;
}

