footer {
  background-color: #333333;
  color: white;
  min-height: 60px;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 0 60px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* .footer__left {
  margin-left: 60px;
}

.footer__right {
  margin-right: 60px;
} */

.footer__left a {
  margin-right: 20px;
}

.footer__right a {
  margin-left: 20px;
}