.login {
  box-sizing: border-box;
  flex: 1;
  margin: auto;
  padding: 1em 60px;
  width: 100%;
  max-width: 1120px;
}

.login__content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  background-color: #f2f2f2;
  border: 1px solid #4f4f4f;
}

.login__card__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.login__card {
  flex: 1;
  padding: .5em;
  border: 1px solid #4f4f4f;
  background-color: #fff;
}

.login__button--google {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #587585;
  border-radius: 3px;
  height: 40px;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: .25em;
}

.login__button--google > img {
  display: block;
  border-right: 1px solid #bbbbbb;
  padding-right: .2em;
}

.login__button--text {
  line-height: normal;
  padding: 0 .5em;
}