.opponentContainer{
    margin-left: 30px;
    margin-right:30px;
    display: flex;
    flex-direction: column;
}

.opponentDescription{
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(192, 191, 191);
    font-size: 15px;
    height: 50%;
    padding: 0;
}

.playersbutton{
    width: 90%;
    height: 30px;
    font-size: 10px;
    margin:0 auto;
    margin-top:5px;
    background:rgb(191, 123, 236);
}

.Invitation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    word-break: break-all;
    width:100%;
    height: 100%;
    background: rgb(89, 141, 201);
    font-size:15 px;
}

.button-accept-invitation{
    width:80%;
    color: rgb(27, 133, 23);
    font-weight: 900;
    font-size: 18px;
}

.button-decline-invitation{
    width:80%;
    color: rgb(226, 4, 4);
    font-weight: 900;
    font-size: 18px;
}
.Invite{
    color: darkred;
    font-weight: 900;
    font-size: 18px;
}
.Timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    word-break: break-all;
    width:100%;
    height: 100%;
    background: rgb(243, 241, 92);
    font-size:15 px;
}
.countdown{
    color: darkred;
    font-weight: 900;
    font-size: 14px;
}