.opponentContainer{
    margin-left: 30px;
    margin-right:30px;
    display: flex;
    flex-direction: column;
    
}

.opponentDescription{
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    background: rgb(192, 191, 191);
    font-size: 15px;
    height: 50%;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word;
}

.playersbutton{
    width: 90%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin:0 auto;
    background:rgb(204, 153, 238);
    text-transform: uppercase;
}

.Invitation{
    justify-content: space-evenly;
    height: 100%;
    background: rgb(89, 141, 201);
    font-size:15 px;
}

.button-accept-invitation{
    width:80%;
    color: rgb(27, 133, 23);
    font-weight: 900;
    font-size: 18px;
}

.button-decline-invitation{
    width:80%;
    color: rgb(226, 4, 4);
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
}
.Invite{
    color: darkred;
    font-weight: 900;
    font-size: 18px;
}
.Timer{
    justify-content: space-evenly;
    height: 100%;
    background: rgb(245, 243, 161);
}
.countdown{
    color: darkred;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}
.GamePlay{
    justify-content: space-evenly;
    height: 100%;
}
.linescleared{
    color: rgb(56, 29, 212);
    font-weight: 900;
    font-size: 18px;
}
.gamesplayed{
    color: rgb(32, 122, 62);
    font-weight: 900;
    font-size: 18px;
}
.endGame{
    background: rgb(247, 214, 136);
    height: 100%;
    font-size:18 px;
    font-weight: 900;
    color:white;
}

.winner{
    background: rgb(23, 165, 30);
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.looser{
    background:  rgb(212, 10, 10);
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loading{
    margin:0 auto;
    width:50px;
    height: 50px;
    border: 20px solid black;
    border-top-color: #1a6aed;
    border-bottom-color: #f49b42;
    border-radius: 50%;
    animation-name: picloading;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes picloading {
    0%{
      transform: rotate(0deg) scale(1);
    }
    50%{
      transform: rotate(360deg) scale(1.05);
    }
    100%{
      transform: rotate(720deg) scale(1);
    }
  }

  @keyframes flash {
    50%{
      background: white;
    }
  }