body{
  padding-top: 20px;
}
.container{
  display:flex;
  justify-content: space-around
}

.controls{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:auto;
}
.reset {
  margin-top:10px;
  margin-right: 20px;
  height:50px;
  font-size:25px;
  width:auto;
  cursor:pointer;
  }
  