.four-oh-four {
  font-family: monospace;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-oh-four h1 {
  color: rgba(56,84,99,0.7);;
  font-size: 8em;
  font-weight: bold;
  text-shadow: 0 0 20px white;
}